.modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.90);

    position:fixed;
    margin: 0;
    left: 0;
    top: 0;
}
.modalContent{
    width: 30%;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(10,10,10);
    border-radius: 30px;
    height: 400px;
    box-shadow: rgba(186,85,211, 0.70) 0 0 100px;
    padding: 30px;
}